<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Period Tracking App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
         .head1{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #ff99b3;
            text-align: center;
            font-size: 70px;
            margin-left: 400px;
            font-style: oblique;
            }
         body{
            background-color: white;
         }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Image Description" height="700px" width="700px" >

</body>